@import 'components/App/css/vars.css';

.landing {
  width: 100%;
  height: 100%;

  .header {
    position: relative;
    line-height: 80px;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    > h2 {
      float: right;

      a {
        color: var(--netech-blue);
        font-family: var(--fontheading2);
      }
    }

    > img, > h2 {
      margin: 0 20px;
    }
  }

  .content {
    padding: 20px 40px;
    padding-left: 25%;

    .main {
      padding-top: 50px;
      max-width: 400px;
      float: left;

      .animation {
        background-color: rgb(200, 50, 226);
        width: 150px;
        height: 100px;
        display: inline-block;
        border-radius: 100%;
        text-align: center;
        line-height: 100px;
      }

      .lead {
        margin-top: 20px;

        > h2 {
          display: inline-block;
          line-height: 50px;
        }

      }


      .copy {
        margin-top: 20px;
      }

      .name {
        margin-top: 20px;
      }

      .title {

      }
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    text-align: right;
    width: 100%;
    padding: 20px;
  }
}
